@media (orientation: portrait) {
  #logoImg {
    width: 80% !important;
    margin-top: 5% !important;
  }
  #loadspin {
      width: 6vw !important;
  }
}
@media screen and (max-width: 853px)
{
    nav
    {
        height: 50px;
        font-size: 30px;
    }
    #logo
    {
        display: none;
    }
    #Clogo
    {
        display: inline-block !important;
        -webkit-tap-highlight-color: transparent;
        padding-top: 4px;
        padding-left: 5px;
        padding-right: 5px;
        outline: none;
    }
    img#Clogo:link
    {
    }
    img#Clogo:visited
    {
    }
    img#Clogo:hover
    {
    }
    img#Clogo:active
    {
        background-color: #afafaf;
        -webkit-tap-highlight-color: transparent;
        outline: none;
    }
    nav a
    {
        padding: 25px 8px;
        font-size: 32px;
    }
    .desktopLinkWrapper
    {
        display: none !important;
    }
    .desktopLink
    {
        display: none !important;
    }
    .cellphoneLink
    {
        display: inline-block !important;
        width: 100%;
        padding-top: 15px;
        padding-bottom: 15px;
        text-align: center;
        color: #660060;
        outline: none;
        text-decoration: none;
    }
    .cellphoneMenuPanel a
    {
        text-decoration: none;
        box-shadow: none;
        color: white;
    }
    .cellphoneMenuPanel a:link
    {
    }
    .cellphoneMenuPanel a:visited
    {
        color: white;
    }
    .cellphoneMenuPanel a:hover
    {
        box-shadow: none;
    text-decoration: none;
    }
    .cellphoneMenuPanel a:active
    {
        -webkit-tap-highlight-color: transparent;
        outline: none;
        color: white;
        box-shadow: none;
        text-decoration: none;
        background-color: #afafaf !important;
    }
    .logoLink
    {
        display: block;
        float: left;
        -webkit-tap-highlight-color: transparent;
        margin-left: 0px !important;
    }
    #cellphoneTitle
    {
        display: block !important;
        font-size: 19px;
        color: white;
        height: 49px;
        width: auto;
        font-weight: bold;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        line-height: 1.8;
        margin-left: 66px;
        font-size: 0.9em;
        margin-top: 1px;
        cursor: default;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -o-user-select: none;
        user-select: none;
        -webkit-user-drag: none;
        -khtml-user-drag: none;
        -moz-user-drag: none;
        -o-user-drag: none;
        user-drag: none;
    }
    #cellphoneMenu
    {
        display: block !important;
        width: 50px;
        height: 50px;
        background-image: url("images/menu.png");
        background-size: 50px;
        float: right;
        margin-right: 16px;
        cursor: pointer;
        -webkit-tap-highlight-color: transparent;

    }
}
    .cellphoneMenuPanel
    {
        outline: none;
        font-size: 30px;
        text-align: center;
        vertical-align: middle;
        font-weight: bold;
        text-decoration: none;
        z-index: 200;
        color: white;
		display: block !important;
		height: 0px;
		width: 100%;
		transition: height 0.2s;
        z-index: 100;
		overflow: hidden;
        position: fixed;
        background: rgb(9,0,35);
        background: linear-gradient(0deg, rgba(9,0,35,1) 0%, rgba(21,21,21,1) 72%, rgba(50,50,50,1) 97%, rgba(62,62,62,1) 100%);
    }
    spacer
    {
        height: 49px; /* The width is 100%, when the viewport is 853px or smaller */
    }
    main
    {
        max-width: 100%; /* The width is 100%, when the viewport is 853px or smaller */
        border: none;
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .comic
    {
        width: auto;
    }
    .foot
    {
        display: none !important; /* The width is 100%, when the viewport is 853px or smaller */
    }
    .cellphoneFoot
    {
        display: table-cell !important; /* The width is 100%, when the viewport is 853px or smaller */
        text-align: center;
        font-size: 22px !important;
        padding-top: 5px;
        padding-bottom: 5px;
    }
}
