body
{
    margin: 0;
    position: relative;
    min-height: 100vh;
    text-align: justify !important;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #090023;
    overflow: hidden;
    color: white;
}
@font-face {
    font-family: 'Source Sans Pro', sans-serif;
    font-display: swap;
}
#logoImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 10%;
    transition: width 1s ease-in-out, margin-top 1s ease-in-out;
}
#main_home {
    background-image: url("floater_studios_logo_digital.png");
    background-size: contain;
    background-repeat: no-repeat;
}
#loadspin {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 4vw;
    animation: rotate 1.5s infinite cubic-bezier(0.4,0.5,0.5,0.3);
    transition: opacity 1s ease-out;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* ---- reset ---- */ body{ margin:0; font:normal 75% Arial, Helvetica, sans-serif; } canvas{ display: block; vertical-align: bottom; } /* ---- particles.js container ---- */ #particles-js{ transition: opacity 1s ease-in-out; position:absolute; width: 100%; height: 100%; background-color: #090023; background-image: url(""); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; } /* ---- stats.js ---- */ .count-particles{ background: #000022; position: absolute; top: 48px; left: 0; width: 80px; color: #13E8E9; font-size: .8em; text-align: left; text-indent: 4px; line-height: 14px; padding-bottom: 2px; font-family: Helvetica, Arial, sans-serif; font-weight: bold; } .js-count-particles{ font-size: 1.1em; } #stats, .count-particles{ -webkit-user-select: none; margin-top: 5px; margin-left: 5px; } #stats{ border-radius: 3px 3px 0 0; overflow: hidden; } .count-particles{ border-radius: 0 0 3px 3px; }
nav
{
    display: block;
    height: 40px;
    width: 100%;
    position: fixed;
    overflow: hidden;
    z-index: 15;
    -webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
    background: rgb(238, 47, 81);
    transition: opacity 0.2s linear;
}
nav a
{
        outline: none;
        font-size: 20px;
        font-size: 1.13vw;
        text-align: center;
        line-height: 1px;
        vertical-align: middle;
        font-weight: bold;
        text-decoration: none;
        padding: 20px 12px;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -o-user-select: none;
        user-select: none;
        -webkit-user-drag: none;
        -khtml-user-drag: none;
        -moz-user-drag: none;
        -o-user-drag: none;
        user-drag: none;
        -webkit-tap-highlight-color: transparent;
}
.desktopLinkWrapper
{
    display: block;
    height: 100%;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}
nav a:link
{
    color: white;
    text-decoration: none;
}

nav a:visited
{
    color: white;
    text-decoration: none;
}
nav a:hover
{
    text-decoration: none;
    background-color: rgb(215, 20, 4);;
}
nav a:active
{
    color: white;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}
a.logoLink:link
{
}
a.logoLink:visited
{
}
a.logoLink:hover
{
    background-color: transparent !important;
}
a.logoLink:hover
{
    -webkit-tap-highlight-color: transparent;
}
#cellphoneMenu:link
{
}
#cellphoneMenu:visited
{
}
#cellphoneMenu:hover
{
}
#cellphoneMenu:active
{
    background-color: #afafaf !important;
}
.centerDiv {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#shows {
    width: 100%;
}
#shows_img {
    width: 300px;
}
li {
    margin-bottom: 20px;
}
spacer
{
        display: block;
        height: 40px;
        width: 100%;
}
main
{
    padding: 15px;
    display: block;
    max-width: 80%;
    min-height: 700px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 250px;
    font-size: 20px;
    z-index: 10;
    background-color: inherit;
    opacity: 0;
    transition: opacity 0.2s linear;
}
#main_about {
    background-image: url("about_backg-min.png");
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
}
#about_text {
    max-width: 50%;
    margin-left: 25px;
}
#navInfo {
    font-weight: bold;
    font-size: 1.08vw;
    text-align: center;
    line-height: 1px;
    vertical-align: middle;
    margin-left: 24px;
}
p {
    padding-left: 10px;
    padding-right: 10px;
}
h1, h3, h4 {
    text-align: center;
}
img {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
-khtml-user-drag: none;
-moz-user-drag: none;
-o-user-drag: none;
user-drag: none;
}
.listDiv {
    display: flex;
    align-content: center;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
.comic {
    width: 800px;
    height: 450px;
    background-color: lightgrey;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.65);
    -moz-box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.65);
    box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.65);
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.comicArrows
{
    position: relative;
    z-index: 12;
    opacity: 0;
    transition: opacity 0.2s;
    width: 90px;
    top: 50%;
    transform: translateY(-50%);
}
.comicArrows:hover
{
    opacity: 1;
}
.comicArrows:active
{
    margin-top: 2px;
}
footer
{
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 145px;
    color: white;
    font-size: 24px;
    z-index: 1;
    transition: opacity 0.2s linear;
    -webkit-box-shadow: 0px -4px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -4px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px -4px 5px 2px rgba(0,0,0,0.75);
    background-color: rgb(21, 21, 21);
    border-top: 1px black solid;

}
.foot
{
    vertical-align: middle;
}
a:link
{
    text-decoration: none;
    font-weight: bold;
    color: white;
}
a:visited
{
    text-decoration: none;
    font-weight: bold;
    color: white;
}
a:hover
{
    text-decoration: underline;
}
a:active
{
    -webkit-tap-highlight-color: transparent;
}
